.widget-service-banner {
	padding: 40px 0px;
	.slick-slider {
		.slick-next,
		.slick-prev {
			right: 5px;
			top: -3px;
			transform: translate(0, -100%);
			left: inherit;
			&:before {
				color: $dark;
			}
		}

		.slick-prev {
			right: 35px;
		}

		.item-slider {
			padding: 10px;
			.card {
				&:hover .card-content {
					top: 0px;

					transition: all 0.3s ease;
				}
				overflow: hidden;
				.card-image {
					figure {
						.gatsby-image-wrapper {
							bottom: 0 !important;
							left: 0 !important;
							position: absolute !important;
							right: 0 !important;
							top: 0 !important;
						}
					}
				}
				.card-content {
					padding: 17px 30px 0;
					position: absolute;
					top: calc(100% - 64px);
					background: rgba(1, 46, 91, 0.8);
					width: 100%;
					height: 100%;
					transition: all 0.3s ease;
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.widget-service-banner {
		padding: 40px 0px;
		.slick-slider {
			.item-slider {
				padding: 0px;
				.card {
					max-height: 160px;
					.card-content {
						top: 0px;

						transition: all 0.3s ease;
					}
				}
			}
		}
	}
}
