.widget-ad-bar {
	background: $primary;
	position: relative;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	overflow: hidden;
	.separador{
		.title{
			color:$white;
		}
	}
	.button {
		padding: 20px;
	}
}



@media screen and (min-width: 1088px){

	.widget-ad-bar {
	background: lighten($primary, 0%);
	position: relative;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	overflow: hidden;
	.button {
		padding: 20px;
	}
	.columns {
		margin-top: -1.6rem;
		margin-bottom: -1.6rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
	}
	.separador {
		position: relative;
		background: $dark;
		align-items: center;
		display: flex;
		h4 {
			position: relative;
			z-index: 10;
			color: $light;
			font-weight: 500 !important;
		}
		&:before {
			background: darken($dark, 0%);
			content: "";
			margin: auto;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			left: -900px;
			z-index: 0;
			margin-top: -1rem;
			margin-bottom: -1rem;
		}

		&:after {
			content: "";
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 100px 0 0 100px;
			border-color: transparent transparent transparent darken($dark, 0%);
			position: absolute;
			top: 0;
			right: -100px;
			margin-top: -1rem;
		}
	}

 
}
}
