@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.widget-brand-products {
     padding-top: 40px;

  .titulo {
    padding-bottom: 50px;
  }
.slick-prev, .slick-next {
    display: none !important;
}
}

@media screen and (max-width: 767px) {
  .widget-brand-products {

    
  }
}
