@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.widget-brand-products {
     padding: 40px 0px;
  min-height: 400px;
  .titulo {
    padding-bottom: 50px;
  }
.slick-prev, .slick-next {
    display: none !important;
}
}

@media screen and (max-width: 767px) {
  .widget-brand-products {

    min-height: 300px;
  }
}
