.footer {
  background: #191d26;

  background-image: url("./img/map.png");
  background-position: 40% center;
  background-repeat: no-repeat;
  background-size: auto;

  .container {
    padding-top: 40px;
  }
}
.copyright {
  background: #11141a;
  padding: 20px 0px;
  section {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .copyright .level-left {
    padding-bottom: 10px;
  }
}
