@import "~bulma/sass/utilities/initial-variables";

// Config vars
// Kalidi logo brand color: #e24b12
$kaldi-red: #e24b12;
$kaldi-red-invert: #fff;

$primary-invert: $kaldi-red-invert;


//Configuracion de Colores
$grey-dark:#002e5b;
$dark:#002e5b;
//$primary: #ff470f;
$primary: #ff5f2c;
$secondary:#ffa848;
$light: #d4dae3;

$link: $primary !default;

$body-color: $grey-dark;


$family-primary: "Roboto";
$body-size: 14px;
$weight-normal: 400;

@import "~bulma";
@import "~bulma-timeline";

.content h1,
.content h2,
.content h3,
.content h4 {
  font-family: "Oswald";
} 
  
@import "components/layout/Header/Header";
@import "components/layout/Footer/Footer";
@import "components/slider/HomeSlider";
@import "components/layout/BackToTop/BackToTop";
@import "components/layout/Sidebar/Sidebar";
@import "components/widgets/OfficeHours/OfficeHours";
@import "components/widgets/ContactInfo/ContactInfo";
@import "components/widgets/ServiceMenu/ServiceMenu";
//@import '/components/widgets/LocationCompany/LocationCompany';
@import "components/layout/BackToTop/BackToTop";
@import "components/widgets/BrandProducts/BrandProducts";

@import "components/widgets/ServiceList/ServiceList";
@import "components/widgets/AboutUs/AboutUs";
@import "components/widgets/EnterpriseFeature/EnterpriseFeature";
@import "components/widgets/AdBar/AdBar";
@import "components/widgets/ServiceBanner/ServiceBanner";
@import "components/widgets/Title/Title";






.fondo-white{
  background: url("./img/fondo-white.png");
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .invert {
    flex-direction: column-reverse;
    display: flex;
  }
}

#wh-widget-send-button:after {
  position: fixed;
  bottom: 5px;
  left: 8px;
  width: 74px;
  height: 13px;
  background: #191d26;
  color: white;
  z-index: 999999999;
  text-align: center;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 13px;
  content: "Chat";
  border-radius: 10px;
}

aside.scrollUp {
  bottom: 16px !important;
}

.button{
border: none;
}
.gradient{
    background-image: linear-gradient(-90deg,$primary 0,$secondary 100%);
}